#id_div{
    background-color: sandybrown;
    height:65%;
    
}
#p1{

color: orange;
}
#p2{
    color: orange;
}
#p3{
    color:  orange;
}
#p4{
    color:  orange;
}
#p0{

    color:  rgba(66, 22, 5, 0.986)

}
#p5{

    color: rgba(66, 22, 5, 0.986)
}
img{

    width: 100%;
    height: 35%;
}
#cv{


    text-align: center;
    
}
#id_div{
    text-align: left;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
table{
    border: hidden;

}
#back{
    background-color: whitesmoke;
}